{{ define "title" }}Home{{ end }}

{{ define "css" }}
    <link rel="stylesheet" href="/static/css/home.css"/>
{{ end }}

{{ define "content" }}
    <div class="title">
        <img src="/static/img/go-logo.png" alt="go-logo">
        <span>+</span>
        <img src="/static/img/Htmx_Logo.png" alt="htmx-logo">
    </div>
    
    <div class="button-wrapper">
        <input type="text" placeholder="Add User">
        <button hx-post="/add-user" hx-target="#users" hx-swap="beforeend">
            Add
        </button>
    </div>

    <h4>Users</h4>
    <div id="users" class="users">
        <div class="user">Darien</div>
        <div class="user">Miller</div>
        <div class="user">Vicky</div>
    </div>
{{ end }}

<!-- "Inherits" the base.html -->
{{ define "home" }}
    {{ template "base" . }}
{{ end }}