{{ define "title" }}Home{{ end }}

{{ define "css" }}
    <link rel="stylesheet" href="/static/css/home.css"/>
{{ end }}

{{ define "content" }}
    <div class="title">
        <img src="/static/img/go-logo.png" alt="go-logo">
        <span>+</span>
        <img src="/static/img/Htmx_Logo.png" alt="htmx-logo">
    </div>
    
    <form 
        class="button-wrapper" 
        hx-post="/users/add-user" 
        hx-target="#users"
        hx-swap="beforeend" 
        hx-on::after-request="if(event.detail.successful) this.reset()"
    >
        <input type="text" placeholder="Add User" name="name">
        <button type="submit">
            Add
        </button>
    </form>

    <h4>Users</h4>

    {{ if .Users }}
    <div id="users" class="users">
        {{ range .Users }}
            <div class="user" id="{{ .ID }}">{{ .Name }}</div>
        {{ end }}
    </div>
    {{ else }}
    <div class="no-users">No users found</div>
    {{ end }}
{{ end }}

<!-- "Inherits" the base.html -->
{{ define "home" }}
    {{ template "base" . }}
{{ end }}