{{ define "title" }}Home{{ end }}

{{ define "css" }}
    <link rel="stylesheet" href="/static/css/home.css"/>
{{ end }}

{{ define "content" }}
    <div class="title">
        <img src="/static/img/go-logo.png" alt="go-logo">
        <span>+</span>
        <img src="/static/img/Htmx_Logo.png" alt="htmx-logo">
    </div>
    <h4>Users</h4>
    <button hx-post="/add-user" hx-target="#users" hx-swap="beforeend">
        Add
        <!-- Htmx counter will go here -->
        <span></span>
    </button>
    <div id="users" class="users">

    </div>
{{ end }}

<!-- "Inherits" the base.html -->
{{ define "home" }}
    {{ template "base" . }}
{{ end }}