{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/static/img/s-logo.png" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/bootstrap-icons.min.css">        
        <link rel="stylesheet" href="/static/css/Base.css">
        <link rel="stylesheet" href="/static/css/Navbar.css">
        {{ template "css" . }}
        
        <title>{{ template "title" . }}</title>
    </head>
    <body>
        <!-- Include navbar partial -->
        {{ template "navbar" . }}
        
        <main id="main-content" class="container">
            <!-- Pages will insert their content here -->
            {{ template "content" . }}
        </main>
        
        <!-- Potential footer, i'll see lol -->
        {{ template "footer" . }}


        <!-- HTMX import-->
        <script src="/static/js/htmx.min.js"></script>
        
        <!-- Alpine Plugins -->
        <script defer src="/static/js/alpine.min.persist.js"></script>
        <script defer src="/static/js/alpine.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>
{{ end }}